body{margin: 0; color: #000; font-family: Arial, Helvetica, sans-serif;}
.container{width: 80%; margin-left: auto; margin-right: auto;}
.menu{box-shadow: 0px 5px 5px #d2d2d2;}
h1,h2{color: #00ab7d; text-align: center;}
a{text-decoration: none; color: #000; }
a:hover{color: #00ab7d;}
button{background: #00ab7d; color: #fff; border: none; padding: 5px; font-weight: 600;}
button:hover{background: #beffed; color:#000; border: none; padding: 5px;}
nav ul li a{padding-left: 20px;}
nav ul{display: flex;}
nav ul li{list-style: none;}
.row{ display: flex; flex-direction: row; padding-bottom: 5px;padding-top: 5px; }
.border-bottom{border-bottom: solid 1px #000;}
/* .civilite,.nom_client,.prenom_client,.adresse,.tel_client,.marque_vehicule,.genre_vehicule,.type_contrat{padding-right: 5px;} */
.civilite{width: 83px;}
.nom_client,.prenom_client{width:200px;}
.nom_agent,.prenom_agent{width:100px;}
.adresse{width: 300px;}
.tel_client{width: 200px;}
.marque_vehicule{width: 150px;}
.genre_vehicule{width: 150px;}
.type_contrat{width: 120px;}
.plaques_immatriculation,.responsabilite,.date_accident{width: 110px;}
.type_accident{width: 200px;}
.modifier,.supprimer{width:100px; display: flex; justify-content: center; align-items: center;}
.bold{font-weight: 600;}
button, .form-ajout-contrat input{margin-left: 20px;}
form{margin-top: 20px;}
input, select, label{margin-top:5px;}
.form-modif,.form-ajout-clients{display: flex; flex-direction: column; }
.form-modif-clients{display: flex; flex-direction: column; align-items: center;}
.btn-modif{width: 15%; margin-left: 0;}
.form-modif-clients input, .form-modif-clients select,.form-ajout-clients,.form-ajout-vehicule{width:300px; display: flex; flex-direction: column; }
.btn-vehicule,.btn-client{width: 100%; margin-top: 5px;}
.d-flex{display:flex;}
.justify-content-center{justify-content: center;}
.justify-content-end{justify-content: end;}
.justify-content-start{justify-content: start;}
.justify-content-between{justify-content: space-between;}
.align-items-end{align-items: flex-end;}
.align-items-center{align-items: center;}
.text-center{text-align: center;}
.padding-right-40{padding-right: 40px;}
.padding-top-40{padding-top: 40px;}
.margin-bottom-5{margin-bottom: 5px;}
.margin-auto{margin-left: auto; margin-right: auto;}
.font-size-14{font-size: .9rem;}
.mx-auto{margin-right: auto; margin-left: auto;}